body {
  background: #00f59e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}
.product{
	width:400px;
	height:400px;
	background:white;
	display:flex;
}
.product__photo{
	flex: 0 0 40%;
	width:200px;
	margin:20px;
	background:#afe732;
	border: 1px solid lightgray;
	border-radius:10px;
	transform:translateX(-50px);
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease;
}
.photo-main{
	width:200px;
	height:250px;
	margin: 10px;
}
.photo-main > img{
	margin-top:20px;
	width:180px;
	transform:translateX(-50px);
	transition: transform 0.3s ease;
}
.fa-share-alt{
	color:white;
}
.controls{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  width: 180px;
  top: 0;
  left: 0;
  pointer-events: none;
}
.fa-heart-o{
color:white;
}

.photo-album{
	background:white;
	height:90px;
	display:flex;
}
.photo-album > ul > li > img{
	width:35px;
	height:35px;
}
.custom-list {
  display:flex;
  list-style-type: none;
  padding-left:0;
}
.custom-list li {
  position: relative;
  padding-left: 10px;
  margin-bottom: 10px;
  border: 0.5px solid lightgray;
  border-radius:5px;
}
.product__info{
	flex: 0 0 60%;
	transform:translateX(-50px);
}
h1{
	font-size:20px;
	padding-top:10px;
}
span{
	color:gray;
}
.price{
	padding-top:10px;
	color:red;
}
.price>span{
	font-weight:700;
	font-size:20px;
	color:red;
}
.variant>h3{
	font-size:15px;
}
.custom-list-1{
	display:flex;
  list-style-type: none;
  padding-left:0;
}
.custom-list-1 img{
	width:30px;
	padding-left:10px;
}
.description{
	padding-right:10px;
}
button{
	background:#e63b3c;
	color:white;
	height:40px;
	border:1 px solid lightgray;
	border-radius:10px;
	
}